[submodule "math_h"]
	path = math_h
	url = ../../alexkernphysiker/math_h.git
[submodule "FitGen"]
	path = FitGen
	url = ../../alexkernphysiker/FitGen.git
[submodule "WASA-libs"]
	path = WASA-libs
	url = ../../alexkernphysiker/WASA-libs.git
